# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
dist

# dependencies
/node_modules
./package-lock.json
package-lock.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
./gradle

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# nativescript
hooks

# libs
libs/**/*.js
libs/**/*.map
libs/**/*.d.ts
libs/**/*.metadata.json
libs/**/*.ngfactory.ts
libs/**/*.ngsummary.json

# xplat
xplat/**/*.js
xplat/**/*.map
xplat/**/*.d.ts
xplat/**/*.metadata.json
xplat/**/*.ngfactory.ts
xplat/**/*.ngsummary.json

node_modules
./apps/ionic-bpi/ios
./apps/ionic-bpi/android
apps/ionic-bpi/www
apps/ionic-bpi/node_modules
apps/ionic-bpi/.sourcemaps/
apps/ionic-bpi/package-lock.json

apps/ionic-bpi/ios/build/
apps/ionic-bpi/ios/DerivedData/
apps/ionic-bpi/ios/App/Pods/
apps/ionic-bpi/ios/App/public/
*.pbxuser
apps/ionic-bpi/ios/xcuserdata/

./apps/ionic-bpi/android/
./apps/ionic-bpi/platforms/
./apps/ionic-bpi/resources/
apps/ionic-bpi/android/.gradle/
apps/ionic-bpi/android/.idea/
apps/ionic-bpi/android/build
apps/ionic-bpi/android/bin
apps/ionic-bpi/android/gen
apps/ionic-bpi/android/out
apps/ionic-bpi/android/app/build/
apps/ionic-bpi/android/app/src/main/assets/public/

apps/ionic-bpi/.gradle/
documentation


# project
libs/core/environments/environment.ts
.scannerwork
